/*=============================================================================
  position 設定
=============================================================================*/

/*
  position: relative !important;
-----------------------------------------------------------------------------*/
.p-r {
  position: relative !important;
}

/*
  position: absolute !important;
-----------------------------------------------------------------------------*/
.p-a {
  position: absolute !important;
}
