/*=============================================================================
  レスポンシブな文字サイズ
  今すぐ使えるCSSレシピブック 96頁より
=============================================================================*/
html {
  /* 1rem の下限: 14px */
  font-size: 14px;

  /* 画面幅 320px - 960px では、1rem のフォントサイズを可変に */
  @media (min-width: 320px) {
    font-size: calc( (18 - 14) * ((100vw - 320px) / (960 - 320)) + 14px);
  }

  /* 1rem の上限: 18px */
  @media (min-width: 960px) {
    font-size: 18px;
  }
}
