// パーツの配置や、ラッパーとしての幅や高さなどを決定するクラス

@import "grid";
@import "images";
@import "position";

/* デスクトップ版 */
@media(min-width: 768px) {
  .hero,
  .main_nav,
  .network,
  .work,
  .explain,
  .sub_nav,
  .query,
  .footer {
    margin: 0 auto;
    width: calc(100vw - 40px);
    max-width:    1280px;
  }
}
