/*===============================
  body の レイアウト設定
===============================*/

/*
  ページ全体の設定
-------------------------------*/
body.top {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  row-gap: 20px;

  /* 2020年に最適なfont-familyの書き方 */
  /* https://ics.media/entry/200317/ */
  font-family: "Helvetica Neue",
               Arial,
               "Hiragino Kaku Gothic ProN",
               "Hiragino Sans",
               Meiryo,
               sans-serif;
  color: $kurohairo;
}

/*
  各部品の配置
-------------------------------*/
body.top > * {
  grid-column: 2 / -2;
}

/*
  列の設定
-------------------------------*/
body.top {
  grid-template-rows:
    [hero]        auto
    [catchphrase] auto
    [main_nav]    auto
    [network]     auto
    [work]        auto
    [explain]     auto
    [sub_nav]     auto
    [query]       auto
    [footer]      auto;
}

/* デスクトップ版 */
@media(min-width: 768px) {
}
