/* フッター */
footer.footer {
  grid-row: footer;
  // justify-self: center;
  // align-self: center;
  font-size: 16px;
  line-height: 2.5;
  font-family: 'Dancing Script', cursive;
  background: $kurohairo;
  color: $shiroiro;
  grid-column: 1 / -1;

  display: grid;
  justify-content: center;
  align-items: center;
  p {
    // text-align: center;
    // margin: auto 0;
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
}
