/*=============================================================================
  お問い合わせフォーム
=============================================================================*/

/*-----------------------------------------------------------------------------
  モバイル版
-----------------------------------------------------------------------------*/

/*
  お問い合わせフォーム
-----------------------------------------------------------------------------*/
form {
  p {
    margin-bottom: 20px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
  }

  textarea {
    height: 120px;
  }

  input[type="submit"] {
    background: $shinonomeiro;
    border: none;
    color: $shirayuriiro;
    font-size: 16px;
    letter-spacing: 6px;
  }

  @media (min-width: 768px) {
    input[type="submit"] {
      width: 250px;
    }
  }
}

/*-----------------------------------------------------------------------------
  デスクトップ版
-----------------------------------------------------------------------------*/
@media(min-width: 768px) {

}
