/*===============================
  ヒーローイメージ
===============================*/

/*
  ヒーローイメージ
-------------------------------*/
.hero {
  grid-row: hero;
  grid-column: 1 / -1 !important;

  .box {
    position: relative;
    height: 512px;
    .slide {
      position: absolute;
      top:     0;
      left:    0;
      bottom:  0;
      right:   0;
      opacity: 0;
      animation: fade 15s infinite;
    }
    .src1 {
    }
    .src2 {
      animation-delay: 5s;
    }
    .src3 {
      animation-delay: 10s;
    }
  }

  @keyframes fade {
      0% { opacity: 0; }
      5% { opacity: 1; }
     25% { opacity: 1; }
     30% { opacity: 0; }
    100% { opacity: 0; }
  }

  img {
    width: 100%;
    height: 512px; /* iPhone 6/7/8 で、ちょうどきれいに見える高さ */
    object-fit: cover;
    vertical-align: bottom;
    // filter: brightness(70%);
    // z-index: -1;             // filter適用すると、重なり順が上に来るので、
    //                          // z-indexで重なり順を下にする
    // position: relative;      // Safari で z-index 適用させるため
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
}
