/* ヒーローイメージ */
.hero {
  grid-row: hero;
  grid-column: 1 / -1;

  img {
    width: 100%;
    height: 512px; /* iPhone 6/7/8 で、ちょうどきれいに見える高さ */
    object-fit: cover;
    vertical-align: bottom;
    // filter: brightness(70%);
    // z-index: -1;             // filter適用すると、重なり順が上に来るので、
    //                          // z-indexで重なり順を下にする
    // position: relative;      // Safari で z-index 適用させるため
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
  // .hero {
  //   margin-left:  auto;
  //   margin-right: auto;
  //   max-width: 1280px;
  // }
}
