$kyohiiro:          #ff251e; // 京緋色(きょうひいろ)
$shinonomeiro:      #f19072; // 東雲色(しののめいろ)
$nanowanairo:       #ffec47; // 菜の花色(なのはないろ)
$sanaeiro:          #67a70c; // 早苗色(さなえいろ)
$amairo:            #2ca9e1; // 天色(あまいろ)
$utsushiiro:        #3d6eda; // 移色(うつしいろ)
$botaniro:          #e7609e; // 牡丹色(ぼたんいろ)
$ayameiro:          #674196; // 菖蒲色(あやめいろ)
$otomeiro:          #f3cccc; // 乙女色(おとめいろ)
$momijiiro:         #a61017; // 紅葉色(もみじいろ)
$nibiiro:           #9ea1a3; // 鈍色(にびいろ)
$kurohairo:         #0d0d0d; // 黒羽色(くろはいろ)

$sakurairo:         #fef4f4; // 桜色(さくらいろ)
$shirayuriiro:      #def3de; // 白百合色(しらゆりいろ)
$shiroiro:          #ede9d8; // 素色(しろいろ)
$shiraumeiro:       #efe0e8; // 白梅(しらうめいろ)

$natsukazeiro:      transparent; // 夏風色(なつかぜいろ)

$colors: (
  kyohiiro:          #ff251e, // 京緋色(きょうひいろ)
  shinonomeiro:      #f19072, // 東雲色(しののめいろ)
  nanowanairo:       #ffec47, // 菜の花色(なのはないろ)
  sanaeiro:          #67a70c, // 早苗色(さなえいろ)
  amairo:            #2ca9e1, // 天色(あまいろ)
  utsushiiro:        #3d6eda, // 移色(うつしいろ)
  botaniro:          #e7609e, // 牡丹色(ぼたんいろ)
  ayameiro:          #674196, // 菖蒲色(あやめいろ)
  otomeiro:          #f3cccc, // 乙女色(おとめいろ)
  momijiiro:         #a61017, // 紅葉色(もみじいろ)
  nibiiro:           #9ea1a3, // 鈍色(にびいろ)
  kurohairo:         #0d0d0d, // 黒羽色(くろはいろ)

  sakurairo:         #fef4f4, // 桜色(さくらいろ)
  shirayuriiro:      #def3de, // 白百合色(しらゆりいろ)
  shiroiro:          #ede9d8, // 素色(しろいろ)
  shiraumeiro:       #efe0e8, // 白梅(しらうめいろ)

  natsukazeiro:      transparent // 夏風色(なつかぜいろ)
);

@each $name, $value in $colors {
  .#{$name} {
    color: $value !important;
  }
  .bg-#{$name} {
    background: $value !important;
  }
}
