/* メインナビゲーションメニュー */
nav.main_nav {
  grid-row: main_nav;
  display: grid;

  ul {
    grid-column: 1 / -1;
    justify-self: center;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:    repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 28px;

    li {
      background-color: $kurohairo;
      border-radius: 0%;
      display: grid;
      align-items: center;
      justify-content: center;
      width: 71px;
      height: 71px;
      transform: rotate(45deg);
      overflow: hidden;
      &:hover {
        background: $botaniro;
      }
      a {
        transform: rotate(-45deg);
        text-decoration: none;
        color: $sakurairo;
        text-align: center;
      }
    }
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
  nav.main_nav {
    height: 120px;
    ul {
      grid-template-columns: repeat(6, 1fr);
      gap: 32px;
      li {
        width: 80px;
        height: 80px;
        font-size: 1rem;
      }
    }
  }
}
