/* メインナビゲーションメニュー */
nav.main_nav {
  grid-row: main_nav;
  display: grid;
  justify-self: center;
  align-self: end;
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:    repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 10px;
    li {
      background-color: $nanowanairo;
      border: 5px double $sanaeiro;
      // border-radius: 50%;
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      transform: rotate(45deg);
      overflow: hidden;
      &:hover {
        background: $botaniro;
      }
      a {
        transform: rotate(-45deg);
        text-decoration: none;
        color: $sanaeiro;
        text-align: center;
      }
    }
  }
    .diamond {
      left: 0;
      right: 0;
      width: 141px;
      height: 141px;
      margin: auto;
      background: #3676BD;
      transform: rotate(45deg);
      overflow: hidden;
    }

    .diamond__inner {
      position: absolute;
      top: -29.5px;
      left: -29.5px;
      width: 200px;
      height: 200px;
      line-height: 200px;
      color: #fff;
      background: transparent;
      transform: rotate(-45deg);
    }


}



/* デスクトップ版 */
@media(min-width: 768px) {
  nav {
    justify-self: end;
    align-self: center;
  }
}
