/*=============================================================================
  Page Top
=============================================================================*/

/*-----------------------------------------------------------------------------
  モバイル版
-----------------------------------------------------------------------------*/
.pagetop {
  background: $kurohairo;
  text-align: center;
  a {
    color: $sakurairo;
    text-decoration: none;
    padding: 10px 0;
  }
}

/*-----------------------------------------------------------------------------
  デスクトップ版
-----------------------------------------------------------------------------*/
@media(min-width: 768px) {
  
}
