/*=============================================================================
  表の飾り付け
=============================================================================*/

/*-----------------------------------------------------------------------------
  モバイル版
-----------------------------------------------------------------------------*/

/*
  表の飾り付け
-----------------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  th,
  td {
    border: solid 1px $kurohairo;
    padding: 20px;
  }

  th {
    width: 7em;
    text-align: center;
    background: $momijiiro;
    color: $shirayuriiro;
  }

  td {
    background: $amairo;
  }
}

/*-----------------------------------------------------------------------------
  デスクトップ版
-----------------------------------------------------------------------------*/
@media(min-width: 768px) {
  
}
