/* 見出し
 * CSSのコピペだけ！おしゃれな見出しのデザイン例まとめ68選
 * https://saruwakakun.com/html-css/reference/h-design
 * ======================================================================= */

.title {
  padding: 0 20px;

  text-align: center;
  background: $kurohairo;
  color: $shiroiro;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

/* デスクトップ版 */
@media(min-width: 768px) {
  .title {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 45px;
      height: 2px;
      background-color: $kurohairo;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
