/* 見出し
 * CSSのコピペだけ！おしゃれな見出しのデザイン例まとめ68選
 * https://saruwakakun.com/html-css/reference/h-design
 * ======================================================================= */

.title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  span {
    background: $kurohairo;
    color: $shiroiro;

    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    display: inline-block;
    width: calc(100vw - 40px);
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
  .title {
    span {
      width: 400px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: calc((100vw - 440px) / 2);
      height: 3px;
      background-color: $kurohairo;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
