/*===============================
  施工事例
===============================*/

/*
  施工事例
-------------------------------*/
.work {
  grid-row: work;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  .title {
    grid-column: 1 / -1;
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
  .work {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 1rem;
    figure {
      img {
        margin: 0 auto;
      }
    }
  }
}
